HELP.md
target/

### JetBrains IDE ###
.idea/

### VS Code ###
.vscode/

### Node.JS, Next.JS ###
node_modules/
.next/
node/
out/
src/generated/prisma/

# env files (can opt-in for committing if needed)
#.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
